/* Provide sufficient contrast against white background */
a {
  color: #8d150b;
}

code {
  color: #8d150b;
}

.btn-primary {
  color: #fff;
  background-color: #8d150b;
  border-color: #8d150b;
}

.btn-primary.disabled {
  color: #fff;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
}
