html{
    color: #8d150b !important;
}

.event-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0.5em;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px #aaaaaac6;
}

.event-element{
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.event-btn{
    margin: 1rem;
}