﻿.text-brand-color{
  color: #8d150b !important;
}

a.navbar-brand {
  color: #8d150b !important;
  white-space: normal;
  text-align: end;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0 0.7rem #00000033;
}
